

.footer
{
  border: 1px solid black;
}

.footer__separator
{
  margin: 1rem 0 0 0;
}

.footer__content
{
  display: flex;
  padding: 1.5rem 0;
  align-items: center;
  justify-content: space-between;
}

.footer__nav
{
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}