
/*Importing bases and reset effects*/
@import "../base/typo.css";
@import "../base/reset.css";

/*Importing predefined variables*/
@import "../utils/variables.css";

/*Importing the buttons and other components*/
@import "../components/buttons.css";
@import "../components/value_card.css";
@import "../components/nft_card.css";

/*Importing the elements of the layout*/
@import "../layout/header.css";
@import "../layout/footer.css";



body
{
  padding: 0 7.5rem;
  font-family: var(--ff-normal);
  background-color: var(--clr-gray-bckground);
}

.hero-header
{
  display: flex;
  margin-bottom: 8rem;
}

.hero-header__content
{
    display: flex;
    margin: 2rem;
    gap: 2rem;
    flex-direction: column;
    border: 1px solid violet;
}

.hero-header__title
{
  font-size: 120px;
  font-weight: 400;
  line-height: 100%;
}

.hero-header__desc
{
  font-size: 1rem;
  font-weight: 500;
  max-width: 25rem;
}

.hero-header__cta
{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.hero-header__images
{
  display: flex;
  position: relative;
}

.hero-header__star-rings
{
  /* position: absolute; */
  max-width: 116px;
}

.hero-header__image-container
{
  width: 304px;
  height: 440px; 
  display: block;
  overflow: hidden;
  border-radius: 200px;
  border: 1px solid red;
}

.hero-header__doll-stone, .hero-header__styled-monkey
{
  /* object-fit: cover; */
  /* height: 100%; */
  height: 100%;
  width: auto;
  object-fit: cover;
  object-position: center;
  /* object-position: -50px; */
}




.collections
{
  display: flex;
  gap: 2rem;
  flex-direction: column;
  margin-bottom: 4rem;
}

.collections__title
{
  font-size: 2rem;
  font-weight: 700;
}

.collections__categories-container
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.collections__categories
{
  display: flex;
  padding: 0;
  gap: 2rem;
  list-style: none;
}

.collections__category-label
{

}

.collections__card-container
{
  display: flex;
  gap: 2rem;
  justify-content: start;
}




.company-values
{
  display: flex;
  gap: 2rem;
  flex-direction: column;
  margin-bottom: 8rem;
}

.company-values__title
{
  font-size: 2rem;
  font-weight: 700;
}

.company-values__card-container
{
  display: flex;
  gap: 2rem;
  justify-content: start;
}





.cta-section
{
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
  border: 1px solid;
  padding: 4rem;
  border: 1px solid red;
  border-radius: 2rem;
  margin-bottom: 4rem;

  color: white;

  
  background-image:
                    linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
                    url("../../assets/images/astronaut.png");
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
}

.cta-section__title
{
  font-size: 4rem;
  font-weight: 600;
}

.cta-section__desc
{
  font-size: 1.5rem;
  font-weight: 500;
}