
/*Importing bases and reset effects*/
@import "../base/typo.css";
@import "../base/reset.css";

/*Importing predefined variables*/
@import "../utils/variables.css";

/*Importing the buttons and other components*/
@import "../components/buttons.css";
@import "../components/value_card.css";
@import "../components/nft_card.css";

/*Importing the elements of the layout*/
@import "../layout/header.css";
@import "../layout/footer.css";



body
{
  padding: 0 clamp(0.5rem, 1rem + 7.5%, 7rem);
  font-family: var(--ff-normal);
  background-color: var(--clr-gray-bckground);
}

.hero-header
{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.hero-header__content
{
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.hero-header__title
{
  font-size: clamp(2.5rem, 0.5rem + 8vw, 120px);
  font-weight: 400;
  line-height: 100%;
  max-width: 44rem;
}

.hero-header__desc
{
  font-size: 1rem;
  font-weight: 500;
  max-width: 25rem;
}

.hero-header__cta
{
    display: flex;
    gap: 2rem;
    align-items: center;

    cursor: pointer;
}

.hero-header__images
{
  display: grid;
  position: relative;
  
  margin: 4rem -2rem;
  max-width: 42rem;
  gap: 1rem 1.5rem;
  grid-template-columns: 280px 280px;
  grid-template-rows: repeat(6, 80px);
}

.hero-header__star-rings
{
  max-width: 116px;
  opacity: 0;
}

.hero-header__image-container
{
  min-width: 256px;
  max-width: 304px;
  height: 440px; 
  display: block;
  overflow: hidden;
  border-radius: 200px;
}

.hero-header__doll-stone
{
  grid-row: 2;
  border: 2px solid;
}

.hero-header__doll-stone-img,
.hero-header__styled-monkey-img
{
  height: 100%;
  width: auto;
  object-fit: cover;
  object-position: center;
}





/*---------------------------------------*\
        Collection of NFT section
\*---------------------------------------*/
.collections
{
  display: flex;
  gap: 2rem;
  flex-direction: column;
  margin-bottom: 6rem;
}

.collections__title
{
  font-size: 2rem;
  font-weight: 700;
}

.collections__categories-container
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.collections__categories
{
  display: flex;
  padding: 0;
  gap: 2rem;
  flex-wrap: wrap;
  list-style: none;
}

.collections__card-container
{
  display: flex;
  gap: 2.8rem;
  flex-wrap: wrap;
  justify-content: center;
}

.collections__cta-link
{
  text-decoration: none;
  color: var(--clr-black-neutral-600)
}

.collections__cta-link:hover
{
  font-weight: 500;
}





/*---------------------------------------*\
        Value of the company section
\*---------------------------------------*/
.company-values
{
  display: flex;
  gap: 2rem;
  flex-direction: column;
  margin-bottom: 6rem;
}

.company-values__title
{
  font-size: 2rem;
  font-weight: 700;
}

.company-values__card-container
{
  display: flex;
  gap: 2rem 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}




/*---------------------------------------*\
        CALL TO ACTION section
\*---------------------------------------*/
.cta-section
{
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
  margin-bottom: 6rem;
  padding: 4rem;

  border: 1px solid;
  border-radius: 2rem;

  color: white;
  background-image:
                    linear-gradient(to top,
                                        rgba(0, 0, 0, 0.1), 
                                        rgba(0, 0, 0, 0.3)),
                    url("../../assets/images/astronaut.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.cta-section__title
{
  font-size: 4rem;
  font-size: clamp(2rem, 1rem + 2vw, 4rem);
  font-weight: 600;
  text-align: center;
}

.cta-section__desc
{
  font-size: clamp(1rem, 0.5rem + 2vw, 1.5rem);
  font-weight: 500;
  text-align: center;
}




/*---------------------------------------*\
        Responsive of the page
\*---------------------------------------*/
@media screen and (max-width: 768px) {


  body
  {
    width: 100%;
    height: fit-content;
    /* overflow: hidden; */
  }

  .hero-header__star-rings
  {
    opacity: 1;
  }

  .hero-header__images
  {
    margin: 0;
  }
    
}